/*global*/
body{
    font-family:arial;
}

a{
    text-decoration:none;
    padding: 10px;
    line-height: 20px;
    color: white;a
}

p{
    line-height:2;
}
img{max-width: 100%;}

h4{font-size: 1.6rem;
margin:1rem}

ul li{list-style-type: none;}

li{display: inline-block;
margin-left: 30px;
margin-right: 30px;}


/*header*/

.header1{
    background-image:url(IMG/header.jpg);
    height: 350px;
    background-size: cover;
    color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 0%;
    
}

.header2{margin-top: 0%;
margin-bottom: 0%;}



.header3{
    background-image: url(IMG/highlight2.jpg);
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 200px;
background-position: bottom;
padding: 50px;
color: azure;
font-family: sans-serif;
}

.header4{background-image: url(IMG/announcement6.jpg);
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
    height: 200px;
    color: purple;
    background-position: center;
    
}


.nav1{color:white}


.btn-details{display:block;
background-color:orange;
color:white;
padding: 0.5rem;
text-align: center;
}

/*main*/
.div1{display:flex;
    justify-content: space-evenly;
align-items: center;
margin-left: auto;
margin-right: auto;
width:80%;
}
@media(max-width:768px){
    .div1{flex-direction: column;}
}

@media(max-width:768){h2,h3,h4{
    text-align:center;
}
}
@media(max-width:768px){
    .div2{ 
    width:95%;
    display:flex;
    justify-content: center;
    text-align: center;
}
}

@media(max-width:768px){
    .houses-container{
        flex-direction: column;
    }
}





.div2{margin-left: auto;
margin-right: auto;
width:80%;
}

.majorhousecontainer{
    display:flex;
    justify-content:space-evenly;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
   height:fit-content;
   
}

.houses-container{display:flex;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}
.green{color:green;
    margin-left: 15px;
}

.houses-item{background-color: lightgray;}

.blogmain{background-color: black;
height:max-content;
color: beige;
padding: 40px;
display: flex;
justify-content: space-between;
align-items: center;
width:auto;
margin-bottom: 60px;}


.Aboutcontainer{
    display:flex;S
padding: 100px;
flex-direction: column;
align-items: center;
color: orange;
}

.abouttext{width: 300px;
margin-left: 30px;}



.aboutmain{background-color: bisque;}

.aboutitems{display: flex;
    flex-direction: column;
justify-content: center;
background-color: gray;
font-size: x-large;
padding: 50px;
width: 600px;S
font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.asidecontainer{display: flex;
    justify-content: center;
    align-items: center;
background-color: lightgrey;
width: auto;
}


@media(max-width:768px){
    .header1{
        flex-direction: column;
        margin-bottom: 3rem;
    }
}



/*footer*/

.footer{background-image:url(IMG/encuentra.jpg) ;
background-size: cover;
height: 30vh;
background-position: center;
margin-left: auto;
margin-right: auto;
height:275px;
color: white;
display:flex;
flex-direction: column;
padding: 10rem;
}

