/*global*/
body{
    font-family:arial;
}

a{
    text-decoration:none;
    padding: 10px;
    line-height: 20px;
    color: white;
}

p{
    line-height:2;
}
img{max-width: 100%;}

h4{font-size: 1.6rem;
margin:1rem}

ul li{list-style-type: none;}

li{display: inline-block;
margin-left: 30px;
margin-right: 30px;}


/*header*/

.header1{
    background-image:url(IMG/header.jpg);
    height: 350px;
    background-size: cover;
    color:white;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    line-height: 0%;
    
}

.header2{margin-top: 0%;
margin-bottom: 0%;}

.nav1{color:white}


.btn-details{display:block;
background-color:orange;
color:white;
padding: 0.5rem;
text-align: center;
}

/*main*/
.div1{display:flex;
    justify-content: space-evenly;
align-items: center;
margin-left: auto;
margin-right: auto;
width:80%;
}
.div2{margin-left: auto;
margin-right: auto;
width:80%;
}

.majorhousecontainer{
    display:flex;
    justify-content:space-evenly;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
   height:fit-content;
   
}

.houses-container{display:flex;
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
}
.green{color:green;
    margin-left: 15px;
}

.houses-item{background-color: lightgray;}

/*footer*/

.footer{background-image:url(IMG/encuentra.jpg) ;
background-size: cover;
height: 30vh;
background-position: center;
margin-left: auto;
margin-right: auto;
height:350px;
color: white;
display:flex;
flex-direction: column;
padding: 10rem;
}
